<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC_d3JFLt49ZS6ghRmQ6aF5FHJT3EzE330</string>
	<key>GCM_SENDER_ID</key>
	<string>18229323928</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.readme.readme</string>
	<key>PROJECT_ID</key>
	<string>readme-d460d</string>
	<key>STORAGE_BUCKET</key>
	<string>readme-d460d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:18229323928:ios:b52fa1074379e404e888ed</string>
</dict>
</plist>